@import url("../styles.css");

.product-detail-title
{
    font-size: 1.3rem;
}

.subtitle {
    font-size: 1rem;
    font-weight: 600;
}

.product-description {
    font-size: 0.9rem;
}

.product-image
{
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 10 / 14;
}
