@import url("../styles.css");

.profile-card {
    background-color: var(--charcoal-100);
    box-shadow: 0rem 0rem var(--Blur, 0.75rem) 0rem var(--DropShadow, rgba(0, 0, 0, 0.25));
    border-radius: 1.6rem;
}

.profile-card h3 {
    font-weight: 600;
}

.order-history-image {
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 10 / 14.375;
}

.order-card {
    border-radius: 0.625rem;
    background: var(--charcoal-200, #D1CDCE);
}

.modal-dialog {
    max-width: 100%;
    width: auto;
    justify-content: center;
}

.modal-content {
    border-radius: 1.6rem;
    padding: 0.5rem;
    max-width: 90%;
    max-height: fit-content;
}

@media screen and (min-width: 577px) {
    .order-history-image {
        width: 4.375rem;
        height: 6.25rem;
        object-fit: cover;
    }

    .modal-dialog {
        max-width: 40%;
        width: auto;
    }

    .modal-dialog.wide-modal {
        max-width: 90%;
        width: auto;
    }
}

