@use "variables" as *;

.order-image {
    object-fit: cover;
    width: 100%;
    height: auto;
    aspect-ratio: 10 / 14.375;
}

@media screen and (min-width: 577px) {
    .order-image {
        width: 4.375rem;
        height: 6.25rem;
        object-fit: cover;
    }

    .modal-dialog {
        max-width: 40%;
        width: auto;
    }

    .modal-dialog.wide-modal {
        max-width: 90%;
        width: auto;
    }
}

.card-header .nav-item {
    border-radius: 6.25rem;
    border-color: #fff;
    background-color: $charcoal-200;
    padding: 0.1rem 1rem;
}

.card-nav .nav-item:has(.nav-link.active) {
    background: $secondary-300;
}

.card-nav .nav-item:hover {
    background: $charcoal-200;
    border-color: $charcoal-200;
}

.card-nav .nav-link:hover {
    border-color: $charcoal-200;
}

.card-nav .nav-link.active {
    background-color: inherit;
    border-color: $secondary-100;
}

.card-nav .nav-link {
    background: inherit;
    text-decoration: none;
    color: $charcoal-base;
}
