.logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-base);
    padding: 1.5rem 2rem;
}

.logo span {
    color: var(--secondary-base, #F39C12);
}

footer {
    gap: 0.625rem;
    border-top: 0.2rem solid var(--primary-200, #BCD0E7);
    background: #FFF;
}

.bottom-content {
    border-top: 0.05rem solid var(--secondary-200, #F39C12);
}

.top-content {
    max-width: fit-content;
}

/* Overriden nav */
.navbar {
    border-bottom: 0.2rem solid var(--primary-200, #BCD0E7);
}

.navbar-toggler {
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--charcoal-300, #ADA5A7);
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.16);
}
.navbar-toggler:hover {
    background: var(--charcoal-300, #ADA5A7);
}

.navbar-toggler.collapsed {
    background: var(--charcoal-200, #D1CDCE);
}

.nav-link {
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6.25rem;
}

.nav-item {
    padding: 0.5rem 1rem;
}

.nav-item:hover {
    background: var(--charcoal-200, #D1CDCE);
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.16);
    border-radius: 6.25rem;
}

.nav-item:has(.nav-link.active) {
    border-radius: 6.25rem;
    background: var(--secondary-100, #FECDA7);
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.16);
}

.nav-item:has(.nav-link.active):hover {
    background: var(--charcoal-200, #D1CDCE);
}
