// Import the Montserrat font face
@font-face {
    font-family: 'Montserrat';
    src: url('../../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype'),
         url('../../public/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// Set Montserrat for the whole app
body {
    font-family: 'Montserrat', sans-serif; // Ensures Montserrat is applied globally
}

// Now, import Bootstrap's SCSS
@import "bootstrap/scss/bootstrap";

/* variables */
@import "variables";

// Typography
@import "typography";

/* header and footer */
@import "header-footer";

/* forms */
@import "forms";

/* components */
@import "elements";
