@import url("../styles.css");

/* ASIDE STYLES */
aside.col-md-3 {
    padding-top: 45px;
    padding-left: 60px;
    padding-right: 110px;
}

aside .p-3 {
    border-radius: 15px;
    border: 1px solid var(--black-base, #1e1e1e);
    background: var(--charcoal-100, #f1f0f1);
    box-shadow: 0px 0px var(--Blur, 12px) 0px var(--DropShadow, rgba(0, 0, 0, 0.25));
}

aside h5 {
    color: var(--primary-600, #2C3E50);

    font-family: Montserrat;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

aside .p-3 label {
    color: var(--secondary-600, #361F01);

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

aside .p-3 select {
    border-radius: 10px;
    border: 1px solid var(--black-300, #a7a7a7);
    background: var(--white-base, #ffffff);
    box-shadow: 0px 0px var(--Blur, 12px) 0px var(--DropShadow, rgba(0, 0, 0, 0.251));

    /* custom down arrow*/
    background-image: url('../../public/images/icons/chevron_down_icon.png');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 14px;
    padding-right: 30px;
}

/* MAIN AREA STYLES */
.search-container {
    display: flex;
    padding-top: 45px;
    width: 50%; 
    min-width: 400px;
}

.search-container input {
    border-radius: 24px;
    border: 1px solid var(--charcoal-base, #211D1E);
    background: var(--charcoal-100, #F1F0F1);
    box-shadow: 0px 0px var(--Blur, 12px) 0px var(--DropShadow, rgba(0, 0, 0, 0.25));
}
