@import url("../styles.css");

/* ASIDE STYLES */
aside.col-md-3 {
    padding-top: 45px;
    padding-left: 60px;
    padding-right: 110px;
}

aside .p-3 {
    border-radius: 15px;
    border: 1px solid var(--black-base, #1e1e1e);
    background: var(--charcoal-100, #f1f0f1);
    box-shadow: 0px 0px var(--Blur, 12px) 0px var(--DropShadow, rgba(0, 0, 0, 0.25));
}

aside h5 {
    color: var(--primary-600, #2C3E50);

    font-family: Montserrat;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

aside .p-3 label {
    color: var(--secondary-600, #361F01);

    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

aside .p-3 select {
    border-radius: 10px;
    border: 1px solid var(--black-300, #a7a7a7);
    background: var(--white-base, #ffffff);
    box-shadow: 0px 0px var(--Blur, 12px) 0px var(--DropShadow, rgba(0, 0, 0, 0.251));

    /* custom down arrow*/
    background-image: url('../../public/images/icons/chevron_down_icon.png');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 14px;
    padding-right: 30px;
}

/* MAIN AREA STYLES */
/* Search bar */
.search-container {
    display: flex;
    padding-top: 45px;
    width: 100%;
    max-width: 1000px;
    align-items: center;
    gap: 40 px;
}

.search-container input {
    min-width: 400px;
    border-radius: 24px;
    border: 1px solid var(--charcoal-base, #211D1E);
    background: var(--charcoal-100, #F1F0F1);
    box-shadow: 0px 0px var(--Blur, 12px) 0px var(--DropShadow, rgba(0, 0, 0, 0.25));
    background: url('../../public/images/icons/magnifying_glass.png') no-repeat left 12px center;
    background-size: 20px;
    padding-left: 40px;
}

/* Order buttons */
.order-group {
    display: flex;
    gap: 5px;
}

.order-radio {
    display: none; /* Hide checkboxes */
}

.order-button {
    width: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 25px;
    background: var(--charcoal-100, #F1F0F1);
    box-shadow: 0px 0px var(--Blur, 12px) 0px var(--DropShadow, rgba(0, 0, 0, 0.25));
    cursor: pointer;
    transition: 0.3s;
}

.order-button:hover {
    cursor: pointer;
    background: var(--secondary-400, #8F5A06);
    color: var(--white-base, #FFF);
}

.order-icon {
    width: 14px;
    height: 10px;
}

.order-radio:checked + .order-button {
    background: var(--secondary-300, #C07A0C);
    box-shadow: 0px 0px var(--Blur, 12px) 0px var(--DropShadow, rgba(0, 0, 0, 0.25));
    color: var(--white-base, #FFF);
}

.order-radio:checked + .order-button:hover {
    cursor: pointer;
    background: var(--secondary-400, #8F5A06);
    color: var(--white-base, #FFF);
}