:root {
    --black-100: #f1f1f1;
    --black-200: #cecece;
    --black-300: #a7a7a7;
    --black-400: #818181;
    --black-500: #5e5e5e;
    --black-600: #3d3d3d;
    --black-700: #1e1e1e;
    --black-base: #1e1e1e;

    --primary-100: #ecf1f8;
    --primary-200: #bcd0e7;
    --primary-300: #81aad4;
    --primary-400: #6284a7;
    --primary-500: #46607a;
    --primary-600: #2c3e50;
    --primary-700: #141f29;
    --primary-base: #2c3e50;

    --gray-100: #e8eaec;
    --gray-200: #bdc3c7;
    --gray-300: #979ca0;
    --gray-400: #73777a;
    --gray-500: #515456;
    --gray-600: #313335;
    --gray-700: #151617;
    --gray-base: #bdc3c7;

    --white-100: #ffffff;
    --white-200: #d6d6d6;
    --white-300: #afafaf;
    --white-400: #898989;
    --white-500: #656565;
    --white-600: #434343;
    --white-700: #242424;
    --white-base: #ffffff;

    --secondary-100: #fecda7;
    --secondary-200: #f39c12;
    --secondary-300: #c07a0c;
    --secondary-400: #8f5a06;
    --secondary-500: #613b03;
    --secondary-600: #361f01;
    --secondary-700: #1c0e00;
    --secondary-base: #f39c12;

    --burnt-sienna-100: #fdedec;
    --burnt-sienna-200: #f9c3bd;
    --burnt-sienna-300: #f58b7b;
    --burnt-sienna-400: #e05631;
    --burnt-sienna-500: #a63d22;
    --burnt-sienna-600: #6f2613;
    --burnt-sienna-700: #3c1106;
    --burnt-sienna-base: #e05631;

    --charcoal-100: #f1f0f1;
    --charcoal-200: #d1cdce;
    --charcoal-300: #ada5a7;
    --charcoal-400: #8b7e81;
    --charcoal-500: #655b5e;
    --charcoal-600: #423b3d;
    --charcoal-700: #211d1e;
    --charcoal-base: #211d1e;

    --drop-shadow: #00000040;

    --blur: 12px;
}

@font-face {
    font-family: "Montserrat";
    src: url("../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype"), url("../public/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 120%;
}

h2 {
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 120%;
}

h3 {
    font-size: 2.062rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 120%;
}

h4 {
    font-size: 1.75rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 120%;
}

h5 {
    font-size: 1.438rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 120%;
}

h6 {
    font-size: 1.18rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 120%;
}

p {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 120%;
}

small .description {
    font-size: 0.812rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 120%;
}

small .note {
    font-size: 0.688rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    line-height: 120%;
}

/* Typography */
.option-value {
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 120%;
}

/* Header and footer */
.logo {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-base);
    padding: 1.5rem 2rem;
}

.logo span {
    color: var(--secondary-base, #F39C12);
}

footer {
    gap: 0.625rem;
    border-top: 0.2rem solid var(--primary-200, #BCD0E7);
    background: #FFF;
}

.bottom-content {
    border-top: 0.05rem solid var(--secondary-200, #F39C12);
}

.top-content {
    max-width: fit-content;
}

/* Overriden nav */
.navbar {
    border-bottom: 0.2rem solid var(--primary-200, #BCD0E7);
}

.navbar-toggler {
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--charcoal-300, #ADA5A7);
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.16);
}
.navbar-toggler:hover {
    background: var(--charcoal-300, #ADA5A7);
}

.navbar-toggler.collapsed {
    background: var(--charcoal-200, #D1CDCE);
}

.nav-link {
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6.25rem;
}

.nav-item {
    padding: 0.5rem 1rem;
}

.nav-item:hover {
    background: var(--charcoal-200, #D1CDCE);
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.16);
    border-radius: 6.25rem;
}

.nav-item.active {
    border-radius: 6.25rem;
    background: var(--secondary-100, #FECDA7);
    box-shadow: 0rem 0rem 1rem 0rem rgba(0, 0, 0, 0.16);
}

.nav-item.active:hover {
    background: var(--charcoal-200, #D1CDCE);
}

/* Overriden buttons */
.btn {
    display: inline-flex;
    padding: 0.438rem 1.25rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.625rem;
    flex-wrap: wrap;
    color: var(--white-base, #FFF);

    border-radius: 6.25rem;
    background: var(--primary-500, #46607A);
    box-shadow: 0rem 0rem var(--Blur, 0.75rem) 0rem var(--DropShadow, rgba(0, 0, 0, 0.25));
}

.btn:active {
    background: var(--primary-600, #2C3E50);
}

.btn:hover {
    background: var(--primary-700, #141F29);
    color: var(--white-base, #FFF);
}

.btn .btn-sm {
    padding: 0.3125rem 0.9375rem;
}

.btn .btn-lg {
    padding: 0.625rem 1.5625rem;
}

.btn-primary {
    background: var(--primary-200, #BCD0E7);
    color: var(--primary-base, #2C3E50);
}

.btn-primary:hover {
    background: var(--primary-300, #81AAD4);
}

.btn-secondary {
    background: var(--secondary-400, #8F5A06);
    box-shadow: 0rem 0rem var(--Blur, 0.75rem) 0rem var(--DropShadow, rgba(0, 0, 0, 0.25));
    color: var(--white-base, #FFF);
}

.btn-secondary:hover {
    background: var(--secondary-500, #613B03);
}

.btn-icon {
    display: flex;
    width: 3.125rem;
    height: 3.125rem;
    padding: 0.625rem;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;

    border-radius: 6.25rem;
    background: var(--charcoal-200, #D1CDCE);
    box-shadow: 0rem 0rem var(--Blur, 0.75rem) 0rem var(--DropShadow, rgba(0, 0, 0, 0.25));
    color: var(--black-base);
}

.btn-icon:hover {
    background: var(--charcoal-300, #ADA5A7);
}

.btn-charcoal {
    background: var(--charcoal-500, #655B5E);
}

.btn-charcoal:hover {
    background: var(--charcoal-700, #211D1E);
}
